.glavni {
    float: left;
    margin-right: 2.5316456%;
    /* 24px / 948px */
    width: 65.8227848%;
    /* 624/948 */
}

.container {
    width: 95%;
    padding: .625em 1.0548523% 1.5em;
    /* 10px/16px, 10px/948, 24px/16px */
    margin: auto 0;
}

.side {
    float: right;
    width: 31.6455696%;
    /* 300/948 */
}