body { 
    background-color: yellow; 
}

table, th, td {
    border: 1px solid black;
    height: 50px;
    font-size: 120%;
}

td {
    padding: 15px;
}

th {
    height: 50px;
    background-color: gray;
    color: black;
    text-align: center;
    font-weight: bold;
}
   
.poravnato {
    text-align: center;
}

table {
    position: absolute;
    left: 2.5%;
    top: 1%;
    width: 95%;
}
