<!doctype html>
<html lang="en">
    <head>
        <title>OZ</title>
        <link rel="stylesheet" href="/css/vjezba1/obavezniZadatakCss.css">
    </head>
<body> 
    <h1> Obavezni zadatak </h1>
        <p> paragraf 1 </p>
        <p> paragraf 2 </p>
        <p> paragraf 3 </p>
        <p><u>paragraf 4 </u></p>
        <p> paragraf 5 </p>
            <img src="/images/cat-small.jpg" alt="slika mace">
        <p><i> paragraf 6 </i></p>
        <p> paragraf 7 </p>
        <p><u> paragraf 8 </u></p>
        <p> paragraf 9 </p>
        <p> paragraf 10 </p>
        <form>
            Ime:
            <br><input type="text" name="ime"><br>
            Prezime:
            <br><input type="text" name="prezime"><br>
            Mail:
            <br><input type="email" name="email"><br>
            Password:
            <br><input type="password" name="password">
            Number:
            <input type="number" name="number"><br>
        </form>

</body>
</html>
