<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vjezba1/t1z2.css">

    <title>Zadatak 2 </title>
  </head>
  <body>

      <table>
          <caption style="caption-side: top; width: auto; text-align: center; font-weight: bold; color: black;">Bodovanje po predmetima</caption>
          <tr>
          <th></th>
          <th>Ispiti</th>
          <th>Zadaće</th>
          <th>Prisustvo</th>
          </tr>
          <tr>
          <td>PWNT</td>
          <td class="poravnato">20</td>
          <td class="poravnato">10</td>
          <TD class="poravnato">10</TD>
          </tr>

              <tr>
              <td>MMS
              </td>
              <td class="poravnato">20</td>
              <td colspan="2" class="poravnato">30</td>
              </tr>

              <tr> 
                  <td rowspan="2">SI
                  </td>
                  <td class="poravnato">20/2</td>
                  <td class="poravnato">10</td>
                  <td class="poravnato">10</td>
              </tr>
              
              <tr> 
                  <td class="poravnato">20</td>
                  <td colspan="2" class="poravnato">?</td>
              </tr>
         </table>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>