<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vjezba1/t1z1.css">

    <title>Zadatak 1 </title>
  </head>
  <body>

    <h1 name="top">Web Tehnologije</h1>
    <p>Na ovom predmetu ćemo naučiti razne HMTL tagove&entite.<br>
    Na primjer, "META" tag. </p>

    <p>"META" služi za definisanje <b>metapodataka</b> u koje spada i korišteni set znakova. Primjer:</p>

    <p>&lt;HTML&gt; <br>
    &lt;HEAD&gt; <br>
    </p>
    <p style="text-indent: 60px"> &lt;meta http-equiv="Content-Type" content="text/html"; charset=utf-8&gt;</p>
    <img style="padding: 15px;" id="etflogo" src="/images/etf-dugi.gif" alt="nemojte ovo upisivati"> Više detalja na 
    <a href="https://c2.etf.unsa.ba/course/view.php?id=119">courseware stranici predmeta Web tehnologije.</a>
    Slika lijevo nalazi se na sajtu www.etf.unsa.ba <br><br>
    <a style="padding: 15px;" href="#top">Nazad na vrh stranice</a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>