<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vjezba1/t1z3.css">

    <title>Zadatak 3</title>
  </head>
  <body>
      <!-- bilo mi mrsko u t1z3.css dodavati -->
      <form  style="padding: 10px;">
        <div style="padding: 10px;">
          Ime: <input type="text" style="margin-left: 30px;" name="ime"> Grad: <input id="grad" type="text" name="grad"> <br>
          </div>
          <div style="padding: 10px;">
          Prezime: <input type="text" name="prezime"> Broj indeksa: <input type="text" name="brIndexa">
          </div>
          <div style="padding: 10px;" >
            Spol: <input type="radio" name="pol"> muški<input style="margin-left: 1%;" type="radio" name="pol"> ženski
            <input style="margin-left: 2%;" type="checkbox" name="sf"> Samofinansirajući
          </div>
          <div style="padding: 10px;">
              Odsjek: <input style="margin-left: 1%;" type="radio" name="osjek"> AE<input style="margin-left: 1%;" type="radio" name="osjek"> EE
              <input style="margin-left: 1%;" type="radio" name="osjek"> RI<input style="margin-left: 1%;" type="radio" name="osjek"> TK
          </div>
          <div>
              <input type="submit" value="Potvrdi" name="potvrdi">
              <input style="margin-left: 570px;" type="reset" value="Poništi" name="ponisti">
          </div>
          <div style="padding: 10px;">
            <p>Dugme Potvrdi šoalje formu negdje (bilo gdje), a dugme Poništi je resetuje</p>
          </div>
      </form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>