<!DOCTYPE HTML>
<HTML>

<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <TITLE>Tutorijal 3, Uvod</TITLE>
</HEAD>

<BODY>
    <H1>Digitron</H1>
    <INPUT type="text" id="sabirak1" size="5"> +
    <INPUT type="text" id="sabirak2" size="5"> =
    <INPUT type="text" id="zbir" size="5">
    <INPUT type="button" id="dugme" value=" Izračunaj" onClick="sabiranje(document);">
    <P>Unesite sabirke i kliknite na dugme Izračunaj.</P>
    <script src="/js/vjezba3/js-kod.js"></script>
</BODY>

</HTML>