
#myUL {
    list-style: none;
    padding: 0;
    margin: 0;
}


#myUL .caret::before {
    content: "+ ";
}

#myUL .kliknuto::before {
    content: "- ";   
}


.nested {
    list-style: none;
    transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

.nested li::before {
    content: "- ";
}

html {
    font-size: 150%; 
}

.active {
    opacity: 1;
    height: auto;
}