<!DOCTYPE HTML>
<HTML lang="en">
<HEAD>
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  <TITLE>Tutorijal 4, Uvod</TITLE>
  <link rel="stylesheet" type="text/css" href="/css/vjezba4/z1.css">
</HEAD>

<BODY>
    <ul id="myUL">
        <li><span class="caret">Prva godina</span>
          <ul class="nested">
            <li>IF1</li>
            <li>IM1</li>
            <li>TP</li>
          </ul>
        </li>
        <li><span class="caret">Druga godina</span>
          <ul class="nested">
            <li>RPR</li>
            <li>OOAD</li>
          </ul>
        </li>
      </ul>

      <script src="/js/vjezba4/z1.js"></script>
</BODY>
</HTML>